:root {
  --primary-color: black;
  --secondary-color: black;
  --paragraph-color: #72ffff;
  --accent-color: palegreen;
  --gradient: linear-gradient(
    90.1deg,
    rgb(158, 252, 203) 16.8%,
    rgb(63, 100, 255) 105.2%
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: black;
  background-color: #c9c9c9;
}

.introduction {
  background-image: url("../images/backgroud2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  margin: 60px auto;
}

.page-intro {
  text-align: start;
  padding: 100px 30px 50px 30px;
}

.projects {
  padding: 0px 30px;
}

.page-intro h1 {
  font-size: 48px;
  line-height: 60px;
}

.page-intro h2 {
  font-size: 18px;
}

.page-intro p {
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.page-intro h1 {
  font-size: 48px;
  line-height: 60px;
}

.page-intro h2 {
  font-size: 18px;
}

.page-intro p {
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.page-intro i {
  color: palevioletred;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-right: 5px;
}




h1,
h2,
h3
h4
h5
h6 {
  text-align: center;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 24px;
  font-weight: regular;
  color: var(--secondary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

footer .email-link {
  margin-top: 50px;
}

footer .email-link a {
  text-decoration: none;
  font-size: 24px;
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

footer .email-link a:hover {
  color: var(--third-color);
}

footer .social-media-links {
  margin-top: 30px;
  margin-bottom: 50px;
}

footer .social-media-links a {
  text-decoration: none;
  font-size: 24px;
  font-family: var(--main-font-family);
  color: var(--third-color);
  background-color: var(--background-color);
  margin: 0 24px;
  padding: 10px 16px;
  border-radius: 50%;
}

footer .social-media-links a:hover {
  color: var(--background-color);
  background-color: var(--third-color);
}

footer .credits p {
  text-align: center;
  font-size: 14px;
  font-family: var(--main-font-family);
  color: var(--secondary-color);

}


.skills {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.skills i {
  color: var(--branding-color);
  font-size: 30px;
  text-align: center;
}

.skills p {
  font-size: 14px;
}

.about-work-inquiry {
  margin-top: 100px;
  text-align: start;
  background-image: url("../images/backgroud2.png");
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
}

.about-work-inquiry h1 {
  font-size: 38px;
}

.about-work-inquiry p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: start;
}



