:root {
  --primary-color: #0096ff;
  --secondary-color: #00d7ff;
  --paragraph-color: #72ffff;
  --accent-color: palegreen;
  --gradient: linear-gradient(
    90.1deg,
    rgb(158, 252, 203) 16.8%,
    rgb(63, 100, 255) 105.2%
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Playfair Display", serif;
  background-image: url("../images/backgroud2.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  color: black;
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}


.skills {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.skills i {
  color: var(--branding-color);
  font-size: 30px;
  text-align: center;
}

.skills p {
  font-size: 14px;





